<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O2 TV IPTV Server</title>
    <link href="/public/css/app.css" rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100">
    <%- include("partials/navbar.ejs") %>

    <main class="container mx-auto mt-4 p-4 flex-grow">
        <%- include("partials/updater.ejs") %>

        <p data-userNotifyText class="text-sm font-semibold hidden"></p>

        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-semibold mb-4">Channels</h1>
            <a data-download class="bg-indigo-500 hover:bg-indigo-600 text-neutral-100 font-bold py-2 px-4 rounded">Download Playlist</a>
        </div>
        
        <div data-channels class="container mx-auto grid md:grid-cols-2 gap-4 py-4">
        </div>
    </main>

    <%- include("partials/footer.ejs") %>

    <script src="/public/lib/js/jquery-3.7.0.min.js"></script>
    <script src="/public/js/app.js"></script>
    <script>
        const playlistDownload = $("[data-download]");
        const channels = $("[data-channels]");
        
        playlistDownload.on("click", (event) => {
            event.preventDefault();
            window.location.href = `/api/o2tv/playlist`;
        });

        function convertUnixToTime(ts) {
            return new Date(ts).toLocaleTimeString('en-US');
        }
        
        function displayChannel(channel, epg, md) {
            if (!(channel && epg)) 
                return;

            const logoElement = $("<img>")
                .addClass("h-12 w-auto m-1")
                .attr("src", `${channel.logo}/height/80/width/144`);

            const channelNameElement = $("<h2>")
                .addClass("text-lg font-semibold")
                .text(channel.name)
                .append(
                    $("<span>")
                        .addClass("text-muted text-sm")
                        .text(` (${convertUnixToTime(epg.startts * 1000)} - ${convertUnixToTime(epg.endts * 1000)})`)
                );

            const epgTitle = $("<p>")
                .addClass("text-muted text-sm")
                .text(epg.title);
            
            const currentTimestamp = Math.floor(Date.now() / 1000);
            const epgDuration = epg.endts - epg.startts;
            const elapsedTime = currentTimestamp - epg.startts;
            let progressPercentage = (elapsedTime / epgDuration) * 100;
            progressPercentage = progressPercentage > 100 ? 100 : progressPercentage;

            const progressBar = $("<div>")
                .addClass("h-2 w-full bg-indigo-700 rounded-md")
                .append(
                    $("<div>")
                        .addClass("h-full bg-indigo-500  rounded-md")
                        .css("width", `${progressPercentage}%`)
                );
                
            const programInfo = $("<div>")
                .addClass("space-y-1")
                .append(epgTitle, progressBar);

            const channelInfo = $("<div>")
                .addClass("w-full")
                .append(channelNameElement, programInfo);
            
            const downloadButton = $("<button>")
                .addClass("h-8 w-9 px-2 py-2 ml-2 bg-indigo-500 hover:bg-indigo-600 rounded-md")
                .append(
                    $("<img>")
                        .attr("src", "/public/img/icons/download.svg")
                )
                .on("click", function() {
                    let playlistUrl = `/api/o2tv/playlist?id=${channel.id}`;

                    if (md && md.id) 
                        playlistUrl += `&md=${md.id}`;

                    window.location.href = playlistUrl;
                    return;
                });
            
            const element = $("<div>")
                .addClass("p-4 flex items-center bg-neutral-800 rounded-md shadow-md")
                .append(logoElement, channelInfo, downloadButton);

            return channels.append(element);
        }

        apiRequest({
            method: "GET", 
            url: "/api/o2tv/channels",
        }, (error, data) => {
            if (error) {
                displayError(error);
                return;
            }

            if (data.code == 200) {
                $.each(data.channels, (id, channelData) => {
                    const { channel, epg, md } = channelData;
                    
                    displayChannel(channel, epg, md);
                    return;
                });

                return;
            }
            
            if (data.message) {
                displayMessage(data.message);
                return;
            }
        });
    </script>
</body>

</html>
