<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O2 TV IPTV Server</title>
    <link href="/public/css/app.css" rel="stylesheet">
</head>

<body class="bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100">
    <!-- Main Content -->
    <main class="container mx-auto mt-4 p-4">
        <h1 class="text-4xl font-bold mb-6">Oops, something went wrong!</h1>
        <p class="text-xl mb-6">An error occurred while processing your request.</p>

        <div class="my-4">
            <a href="/" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded">Go Back</a>
        </div>
    </main>
</body>

</html>
