<header class="bg-neutral-200 dark:bg-neutral-900 p-4">
    <div class="container mx-auto max-w-7xl flex justify-between items-center">
        <a href="/" class="flex-1 text-xl font-semibold">O2 TV IPTV Server</a>

        <div class="flex sm:hidden">
            <button data-navbar-toggle type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <!-- <object class="w-6 h-6" type="image/svg+xml" src="/public/img/icons/bars-solid.svg"></object> -->
                <!-- <img src="/public/img/icons/bars-solid.svg" alt="Menu icon" class="h-6 w-6"> -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="h-6 w-6 fill-neutral-900 dark:fill-neutral-200">
                    <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </button>
        </div>

        <div data-navbar class="flex items-center flex-1 justify-end gap-x-8">
            <a href="/channels" class="font-semibold leading-6">Channels</a>
        </div>
    </div>
</header>