html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  background-color: #171717;
  color: #fafafa;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #262626;
  border-radius: 0.5em;
  min-height: 35%;
  max-width: 75%;
  padding: 2em;
  margin: 5% 0;
}

a.btn {
  background-color: #4f46e5;
  color: #fafafa;
  margin: 0 8px;
}

a.btn:hover {
  background-color: #6366f1;
}

#channelList {
  margin: 2rem 0;
}

#channelList.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#channelList.list > * {
  flex: 1 1 200px;
}

#channelList .channel {
  margin: 4px;
}

#channelList .channel a {
  text-decoration: none;
  font-size: 1rem;
}

#channelList .channel img {
  max-height: 36px;
}