<div class="flex flex-col items-center w-full pt-8 pb-16 gap-8">
    <div class="flex container mx-auto justify-between items-center">
        <div>
            <h1 class="text-xl font-semibold mb-4">Download the playlist into your player</h1>
            <p>You can use the URL: <code><%= URL %>/Api/O2TV/Playlist</code> to download the playlist.</p>	
        </div>

        <a href="/Api/O2TV/Playlist" class="btn">Download Playlist</a>
    </div>
</div>